@import "settings";
@import "foundation";

html, body {
  height: 100%;
}

p {
  margin-bottom: 1rem;
}

.cover-image {
  height: 100%;
  min-height: 400px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

}

.cover-image-header {
  background-image: url("../images/elle-kasai-cover.jpg");
  margin-bottom: 1.5rem;

  @media #{$medium-up} {
    margin-bottom: 3rem;
  }
}

.cover-image-footer {
  background-image: url("../images/elle-kasai-footer.jpg");
  margin-top: 1.5rem;
  display: table;
  width: 100%;

  @media #{$medium-up} {
    margin-top: 3rem;
  }
}

@mixin white-text {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  @include white-text;
  h3 {
    @include white-text;
    margin: 0 2rem;
    font-weight: 700;
    margin: 0;
  }
  p {
    position: absolute;
    margin: 0 2rem;
    bottom: 2rem;
    opacity: 0.5;
    width: 100%;
  }
}

.masthead {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1rem;
  h1, h3 {
    @include white-text;
  }

  h1 {
    font-weight: 900;
    margin: 0 0 -0.25rem;
  }

  h3 {
    font-weight: 700;
    margin: 0;
  }

  @media #{$medium-up} {
    bottom: 2rem;
  }
}

.cover-scroll-label {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 2rem;
  opacity: 0.5;

  @media #{$medium-up} {
    font-size: 2.5rem;
  }
}

.cssconf-image {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 1rem;

  @media #{$medium-up} {
    float: right;
    margin: 0 1rem 0 1rem;
  }
}

.row-space {
  margin-bottom: 1rem;
  @media #{$medium-up} {
    margin-bottom: 2rem;
  }
}

.row-heading {
  margin-bottom: 1rem;
}

section {
  @media #{$medium-up} {
    padding-bottom: 1rem;
  }
}

.ampersand {
  font-family: 'Playfair Display', serif;
}

.light-slash {
  color: #ccc;
}

.columns-mobile-space {
  @media #{$small-only} {
    margin-bottom: 1rem;
  }
}

.talk-image {
  border-radius: 5px;
  max-with: 100%;
  display: block;
}

iframe {
  max-width: 100%;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
